<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Icons -->
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Della+Respira|Barlow:300|Lato|Lato:300|Montserrat" rel="stylesheet">

    <!-- Leaflet -->
    <script type="text/javascript" src="{{ "/assets/jquery/jquery-1.11.0.min.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>

    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />-->
	   <script type="text/javascript" src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

     <script type="text/javascript" src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
     integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
     crossorigin=""></script>


     <!-- Load Leaflet Label from GitHub -->
     <script type="text/javascript" src="https://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>

     <!-- Include Leaflet.heat from CDN -->
     <script type="text/javascript" src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

     <!-- Load Heatmap Feature Layer from CDN -->
     <script type="text/javascript" src="https://cdn.jsdelivr.net/leaflet.esri.heatmap-feature-layer/2.0.0-beta.1/esri-leaflet-heatmap-feature-layer.js"></script>

      <!-- Load Esri Leaflet Renderers from CDN -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/leaflet.esri.renderers/2.0.2/esri-leaflet-renderers.js"></script>

      <!-- Load Vector Icon from GitHub -->
      <script type="text/javascript" src="https://muxlab.github.io/Leaflet.VectorIcon/L.VectorIcon.js"></script>

      <!-- Load Leaflet Omnivore -->
      <script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

      <!-- Load L.esri.WebMap -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/leaflet.esri.webmap/0.4.0/esri-leaflet-webmap.js"></script>

      <script type="text/javascript" src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup-src.js"></script>


    <link rel="stylesheet" href="{{ "/css/leaflet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.min.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.src.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/leaflet-panel-layers/leaflet-panel-layers.src.js" | prepend: site.baseurl }}"></script>

	  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.css" />
	  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.Default.css" />
	  <script src="https://unpkg.com/leaflet.markercluster@1.0.4/dist/leaflet.markercluster-src.js"></script>



	 <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Lightbox -->
	  <link href="assets/lightbox2/lightbox.css" rel="stylesheet">
	  <script src="assets/lightbox2/lightbox.js"></script>

</head>
